/* Modal Styles */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5000;
  }
  
  .modalContent {
    background-color: white;
    color: black;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    width: 400px;
  }
  
  .modal h4 {
    font-size: 18px;
    margin-bottom: 20px;
  }
  
  .modalButtons {
    display: flex;
    justify-content: space-around;
  }
  
  .modalButton {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .modalButton:hover {
    opacity: 0.8;
  }
  
  .modalButton:first-child {
    background-color: #4CAF50;
    color: white;
  }
  
  .modalButton:last-child {
    background-color: #F44336;
    color: white;
  }
  